@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background: url("./assets/banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner02 {
  background: url("./assets/banner02.svg");
  background-color: #0BB049;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner03 {
  background: url("./assets/banner03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner04 {
  background: url("./assets/banner04.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.badge_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 2rem
}

.badge_android{
  background-image: url("./assets/Google_play_badge.png");
  width: 200px;
  height: 70px;
  background-size: 100% 100%;
  background-position: center;
}

.badge_ios{
  background-image: url("./assets/IOS_badge.png");
  width: 200px;
  height: 70px;
  background-size: 100% 100%;
  background-position: center;
}

div {
  margin: 0;
}

.section,
.section-reverse {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding : 5px;
}

.section-reverse {
  flex-direction: row-reverse;
}

.section {
  color: white;
  /* background: linear-gradient(to bottom, #0bb049, white);
  border-bottom-right-radius: 100% 50%; */
}

.section-reverse {
  color: #0bb049;
  /* background-color: white; */
}

.section-sub,
.section-sub-reverse {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.section-sub-reverse {
  align-items: start;
}

.section-sub {
  align-items: end;
}




.section-text,
.section-text-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif
}

.section-text-reverse {
  text-align: right;
}

.section-img,
.section-img-reverse {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;

}

.section-img-reverse {
  justify-content: end;
}


.img-wrapper-reverse {
  width: 50%;
  height: auto;
  padding-right: 50px;
}

.img-wrapper {
  width: 60%;
  height: auto;
  padding-left: 50px;
}


.section-title {
  font-weight: bold;
  font-size: 60px;
}

.section-desc {
  font-size: 35px;
}

.img {
  margin-left: -10px;
}

.img:hover {
  cursor: pointer;
}


.btn {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.translateLeft {
  animation: slideInFromLeft 1s;
  animation-timing-function: ease;
}

.translateRight {
  animation: slideInFromRight 1s;
  animation-timing-function: ease;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.features {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  /* background: #0bb049; */
  color: white;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.desc {
  font-size: 25px;
}

.section-card {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 50px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  height: 175px;
  width: 175px;
}

.card-img {
  width: 70%;
  height: auto;
}

.download {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  color: #0bb049;
}

.download-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-dwl {
  /* display: flex;
  flex-direction: column; */
  padding: 20px;
  color: white;
  background-color: #0bb049;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  align-self: center;
}

.btn-dwl:hover {
  cursor: pointer;
}

.download-img {
  flex:2;
  display: flex;
  justify-content: center;
}

.img2 {
  align-self: center;
  width: 35%;
  height: auto;
}


.footer {
  /* background-color: #0bb049; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  font-size: 30px;
  height: 200px;
}

.wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.wave .shape-fill {
    fill: #0BB049;
}


@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* Média query pour les écrans de taille maximale 900px */
@media (max-width: 900px) {
  .section, .section-reverse {
    flex-direction: column;
    height: auto;
    border-bottom-right-radius: 0% 0%;

  }

  .section-img {
    justify-content: center;
  }

  .section-img-reverse {
    justify-content: center;

  }

  .section-sub, .section-sub-reverse {
    align-items: center;
  }

  .section-text, .section-text-reverse {
    text-align: center;
    width: 100%;
  }

  .card {
    font-size: 20px;
    text-align: center;
    height: 150px;
    width: 150px;
  
  }

  .img-wrapper {
    width: 400px;
    height: auto;
    margin-right: 70px;

  }

  .img-wrapper-reverse {
    width: 400px;
    height: auto;
    margin-left: 70px;
  }

  .img2 {
    width: 400px;
    height: auto;
  }

  .badge_container {
    margin-top: 70px;  }
}




/* Média query pour les écrans de taille maximale 600px */
@media (max-width: 600px) {
  .section-title, .text {
    font-size: 40px;
  }
  .section-desc {
    font-size: 20px;
  }
  .img {
    margin-left: 0;
  }
  .text {
    font-size: 20px;
  }
  .desc {
    text-align: center;
  }

  .card {
    height: 125px;
    width: 125px;
    font-size: 15px;
    text-align: center;
  }

  .img-wrapper {
    width: 400px;
    height: auto;
  }

  .img-wrapper-reverse {
    width: 400px;
    height: auto;
  }

  .img2 {
    align-self: center;
    width: 350px;
    height: auto;
  }
  .footer p {
    font-size: 25px;
  }

}

/* Média query pour les écrans de taille maximale 600px */
@media (max-width: 500px) {

  .card {
    height: 75px;
    width: 75px;
    font-size: 10px;
    text-align: center;
  }

  .img-wrapper-reverse {
    width: 325px;
    height: auto;
    margin-left: 70px;
  }


  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;

  }
}


/* Média query pour les écrans de taille maximale 400px */
@media (max-width: 400px) {
  .section-title {
    font-size: 30px;
  }
  .section-desc {
    font-size: 20px;
  }

  .img-wrapper {
    width: 325px;
    height: auto;
    margin-right: 70px;
  }

  .img-wrapper-reverse {
    width: 300px;
    height: auto;
    margin-left: 70px;
  }

  .footer p {
    font-size: 20px;
    text-align: center;
  }

  .badge_container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:10px;
    margin-top: 20px;
  }

  .badge_android, .badge_ios{
    width: 150px;
    height: 50px;
  }
  

  

}

